{% extends 'base.html' %}
{% load static %}

{% block content %}

<a class="link link-exit" href="{% url 'main' %}">&laquo; Назад</a>
<div class="container">
    <form class="base-form" action="." method="post">
      {% for field in form %}
        <p>{% if field.errors %} <small>{{ field.errors }}</small>{% endif %}{{ field }}</p>
      {% endfor %}
      {% csrf_token %}
        <input class="link" type="submit" name="exit" value="Сохранить и выйти">
        <input class="link" type="submit" name="continue" value="Сохранить и продолжить">
    </form>
</div>
{% endblock %}
