
<div class="container-switches">

    <div class="switch-en">
        <small>En</small>
        <label class="switch">
            <input type="checkbox" id="switch-en">
            <span class="slider round"></span>
        </label>
    </div>


    <div class="switch-ru">
        <small>Ru</small>
        <label class="switch">
            <input type="checkbox" id="switch-ru">
            <span class="slider round"></span>
        </label>
    </div>

    <div class="switch-tr">
        <small>Tr</small>
        <label class="switch">
            <input type="checkbox" id="switch-tr">
            <span class="slider round"></span>
        </label>
    </div>

</div>
