{% extends 'base.html' %}
{% load static %}

{% block content %}

<a class="link link-exit" href="{% url 'list' translation.translation_type %}">&laquo; Назад</a>
<div class="container">
    <form class="base-form" action="." method="post" enctype="multipart/form-data">
      {% for field in form %}
        <p>{% if field.errors %} <small>{{ field.errors }}</small>{% endif %}{{ field }}</p>
      {% endfor %}
      {% csrf_token %}
        <input class="link" type="submit" value="Сохранить">
        <a class="link" href="{% url 'delete' translation.pk %}">Удалить</a>
    </form>
</div>
{% endblock %}
