/*  ------------------------ SECTION BASIC SETTINGS  ----------------------  */

@font-face {
    font-family: 'Igra Sans';
    src: url('../font/IgraSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    font-family: 'Igra Sans';
    font-size:calc(1.4vh + 1.4vw);
}
body{
    background-image: url("../media/english-fon-list.jpg");
    background-size: cover;
}
a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
}

.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
    height:100vh;
    width:100vw;
}

.link-exit{
    position:absolute;
    top:15%;
    left:20%;
}
.svg-inline--fa{
    width: calc(2.5vw + 2.5vh);
    height: calc(2.5vw + 2.5vh);
    position:absolute;
    top:13%;
    left:80%;
    fill: #ABCDEF;
}

.form-field{
    margin-top:calc(.5vw + .5vh);
    border: 2px solid #ABCDEF;
    border-radius:calc(.8vw + .8vh);
    padding:calc(.4vw + .4vh) calc(.7vw + .7vh) calc(.4vw + .4vh) calc(.7vw + .7vh);
    text-align:center;
    background: transparent;
}

.link{
    border:none;
    background: transparent;
    margin-top:calc(1.4vw + 1.4vh);
    padding:calc(.8vw + .8vh) calc(1.6vw + 1.6vh) calc(.8vw + .8vh) calc(1.6vw + 1.6vh);
    border-radius:calc(.8vw + .8vh);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(11, 35, 131, 0.5);
    -moz-box-shadow: 0px 5px 10px 2px rgba(11, 35, 131,  0.5);
    box-shadow: 0px 5px 10px 2px rgba(11, 35, 131,  0.5);
     cursor: pointer;
}

.link:hover{
    box-shadow: 0px 0px transparent, 0px 5px 10px rgba(11, 35, 131,  0.35);
    transform: translateY(5px);
}

.container-list-translation{
    margin-top:calc(12vw + 12vh);
}

.link-list-translation{
    position: absolute;
    left: 43%;
    top:8%;
}
.section-translation{
    margin-top:calc(5vw + 5vh);
    margin-bottom: calc(5vw + 5vh);
}
.input-update-translation{
    display: flex;
    align-items:center;
    text-align:center;
}
.svg-edit{
    width:50px;
    height:50px;
    transition: .2s linear;
}

.svg-edit:hover{
    width:55px;
    height:55px;
}

.translate-form{
    position: absolute;
    left: 35%;
}

.link-send-translate{
    padding:calc(.4vw + .4vh) calc(.8vw + .8vh) calc(.4vw + .4vh) calc(.8vw + .8vh);
    border-radius:calc(.5vw + .5vh);
    font-size: calc(1vw + 1vh);
}

.link-update{
    position: absolute;
    left: 90%;
}
.list-translations{
    margin: calc(1.5vw + 1.5vh) calc(2vw + 2vh) 0 calc(2vw + 2vh);
    display:flex;
    justify-content: space-around;
    border-bottom: 1px solid #ABCDEF;
    padding-bottom: calc(2vw + 2vh);
}
.translate{
    display: none;
    font-size: calc(1.2vw + 1.2vh);
    margin-top: calc(1.5vw + 1.5vh);
}
.list-translations p:nth-child(-n+2){
    margin-right: calc(1vw + 1vh);
}

/*  ------------------------ SECTION SWITCHER  ----------------------  */

.container-switches{
    display:flex;
    position: fixed;
    top:0;
    background-color: #f5f2fb;
    width: 100%;
    height: calc(2vw + 2vh);
    justify-content: space-around;
}

.switch-en, .switch-ru, .switch-tr{
    font-size:calc(1.2vw + 1.2vh);
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left:calc(1vw + 1vh);
    transform: translateY(calc(.3vw + .3vh));
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ABCDEF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ABCDEF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.wordEn{
    color: #000;
}